body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Index Homepage*/
#mainpageimage {
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 674px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

#indexjumbo{
    width: 50%;
    padding-top: 10px;
    font-family: 'Comic Sans MS', cursive; 
    text-align: center;
    color:bisque;
    background-color: rgba(154, 88, 88, 0.00)
}

.purrfecttitle{
    font-family: cursive;
    text-align:center;
}

.bottomfiller{
    color:black;
    text-align:center;
    opacity: 1;
}

.bottomfiller2 {
    color: beige;
    opacity: 1;
    text-align:center;
}

.bottomfiller3 {
    color: white;
    text-align:center;
    opacity: 1;
}

#circlebutton {
    background-color:cornflowerblue;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    opacity: .75;
}

/* About Page*/
#aboutpageimage {
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 674px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.contactcontainer{
    text-align: right;
    height: 500px;
}

.aboutpagecontainer{
    width: 30%;
    font-family: cursive;
    color:burlywood;

}

.abouth2{
    text-align:center;
}

/* PurrfecrQuote Page*/
.purrh2{
    text-align:center;
}

.purrfectquotecontainer{
    text-align: center;
    
}

#quotemepageimage {
    height: auto;
    left: 0;
    margin: 0;
    min-height: 100%;
    min-width: 674px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}