@{
    ViewBag.Title = "About";
}

<h3></h3>
<div>
    <img id="aboutpageimage" src="~/Content/ScholarKitty.jpg" border="0" alt="catpictures" />
    <div class="aboutpagecontainer">
        <h2 class="abouth2">A Purrfect History</h2>
        <p>
            Our founder, Benjamin Franklin founded America’s oldest, continuously active insurance company in 1752. Franklin
            and several prominent business associates established the Philadelphia Contributorship for the Insurance
            of Houses from Loss by Fire. The Contributorship, as is now its common reference, was a proactive insurance
            carrier refusing to provide coverage to houses and other structures that were not constructed according to strict
            building standards. During the British occupation of Philadelphia in 1777, the Contributorship hired
            a chimney sweep to maintain the chimneys of insured houses that were still occupied by the insureds. Fast forward a few
            hundred years (because this bio is just filler anyways) and we renamed The Contributorship to Purrfect Insurance and
            plastered a bunch of cat pics on the website.  That's the only difference.  Shhh, don't tell our customers; they don't
            read this stuff anyways! They just play with the quote finder!
        </p>
    </div>
</div>