@{
    ViewBag.Title = "About";
}
<h2>A Purrfect History</h2>
<h3></h3>
<div>
    <img id="aboutpageimage" src="~/Content/ScholarKitty.jpg" border="0" alt="catpictures" />
    <p>Use this area to provide additional information.</p>
</div>