@{
    ViewBag.Title = "Contact";
}



<div class="contactcontainer">
    <h2 style="text-align: right">Contact</h2>
    <img id="aboutpageimage" src="~/Content/Cat-Contact-Phone.jpg" border="0" alt="catpictures" />
    <address>
        The Cupboard Under the Stairs<br />
        4 Privet Dr.<br />
        Little Whinging, Surrey, England, Great Britain<br />

        <abbr title="Phone">P:</abbr>
        800.867.5309
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Rob@purrfectinsurance.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Jason@purrfectinsurance.com</a>
    </address>
</div>