@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="indexjumbo">
    <img id="mainpageimage" src="~/Content/CATPAPER.jpg" border="0" alt="catpic" />
    <h1 class="purrfecttitle">Purrfect Insurance</h1>
    <p class="lead">GET THE PURRFECT QUOTE</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Purrfect Quote Generator &raquo;></a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="bottomfiller">Check out the Competion</h2>
        <p class="bottomfiller">
            At Purrfect Insurance, we pride ourselves on transparency.  We encourage all potential customers
            to check out our biggest competitors during their decision making process!
        </p>
        <p style="text-align:center"><a class="btn btn-default" id="circlebutton" href="https://www.nerdwallet.com/insurance/compare-car-insurance-rates">Learn more &raquo;</a></pclass="bottomfiller2">
    </div>
    <div class="col-md-4">
        <h2 class="bottomfiller2">The People's Voice</h2>
        <p class="bottomfiller2">Visit our online forum to see what actual customers have said about their purrfect experience.
           Enage with the community and add your own comments about your experience of the purffect process!</p>
        <p style="text-align: center"><a class="btn btn-default" id="circlebutton" href="https://go.microsoft.com/fwlink/?LinkId=301866">View Forum &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="bottomfiller3">Why do I need insurance?</h2>
        <p class="bottomfiller3">With the rising cost of living, many safe drivers often wonder, "Why do I need insurance?" 
           Do not get caught in a less than purrfect situation. Read the following blog for more info!</p>
        <p style="text-align: center"><a class="btn btn-default" id="circlebutton" href="https://www.nerdwallet.com/blog/insurance/car-accident-no-insurance/">Learn more &raquo;</a></p>
    </div>
</div>