@model Purrfect.Models.QuoteGeneratorModel
@{
    ViewBag.Title = "QuoteMe";
}


<div>
    <img id="quotemepageimage" src="~/Content/QuoteMePurr.png" border="0" alt="quotepics" />
    <div>
        <p>@Model.GenerateQuote()</p>
    </div>
</div>